[submodule "Documents/Code Project/web3appcontract/lib/forge-std"]
	path = Documents/Code Project/web3appcontract/lib/forge-std
	url = https://github.com/foundry-rs/forge-std.git
[submodule "Documents/My Project/Test/foundry_app/lib/forge-std"]
	path = Documents/My Project/Test/foundry_app/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "Documents/My Project/Test/foundry_app/lib/openzeppelin-contracts"]
	path = Documents/My Project/Test/foundry_app/lib/openzeppelin-contracts
	url = https://github.com/openzeppelin/openzeppelin-contracts
